/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  letter-spacing: 0.05em;
  text-transform: none;
}

#header h1 a {
  font-size: 1.0em;
  letter-spacing: 0.1em;
}

.content h1, h2, h3, h4, h5, h6 {
  padding-top: 1em;
}

header p {
  text-transform: none;
}

.post > header .title {
  padding: 1em 3em 1em 3em;
}

.content h1, h2, h3, h4, h5, h6 {
  padding-top: 0.5em;
}

.post > header {
  margin: -3em 0 1.5em 0;
}

.post > footer .stats li ul li {
  text-transform: none;
}
