{{ if eq .Type "about" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "dateCreated": "{{ .Date }}",
      "dateModified" : "{{ .Date }}",
      "mainEntity": {
        "@id": "#main-author",
        "@type": "Person",
        "name": "Ray Tsang",
        "alternateName": "saturnism",
        "identifier": "saturnism",
        "description": "Ray is a Java Champion, loves Java, cloud, and developer productivity. Previously, Ray worked at Google, Red Hat, Accenture, and other consulting companies. Aside from technology, Ray enjoys traveling and adventures.",
        "image": "https://saturnism.me/img/main/me.jpg",
        "sameAs": [
            "https://twitter.com/saturnism",
            "https://github.com/saturnism/",
            "https://www.linkedin.com/in/rayjtsang/",
            "https://bsky.app/profile/saturnism.me",
            "https://medium.com/@saturnism",
            "https://youtube.com/saturnism"
        ]
      }
    }
</script>
{{ else }}
<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
        "inLanguage" : "{{ .Lang }}",
        "author" : "{{ range .Site.Author }}{{ . }}{{ end }}",
        "creator" : "{{ range .Site.Author }}{{ . }}{{ end }}",
        "publisher": "{{ range .Site.Author }}{{ . }}{{ end }}",
        "accountablePerson" : "{{ range .Site.Author }}{{ . }}{{ end }}",
        "copyrightHolder" : "{{ range .Site.Author }}{{ . }}{{ end }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .Date }}",
        "dateModified" : "{{ .Date }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
    }
    </script>
{{ end }}
