<div class="container" id="typeform">
    <section>
    <div class="typeform-widget" data-url="https://{{ index .Params 1 | default "x" }}.typeform.com/to/{{ index .Params 0 }}" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: {{ index .Params 3 | default "100%" }}; height: {{ index .Params 2 | default "500px" }};"></div>
    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </section>
</div>
